# App
NEXT_PUBLIC_APP_URL=
NODE_ENV=

# Authentication (NextAuth.js)
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# https://console.cloud.google.com/apis/credentials
# Callback URL: http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# https://github.com/settings/applications
# Callback URL: http://localhost:3000/api/auth/callback/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# https://resend.com/settings/smtp
EMAIL_SERVER=
EMAIL_FROM=

# Database
DATABASE_URL=

# Get this from https://platform.openai.com/account/api-keys
OPENAI_API_KEY=
OPENAI_MODEL=

# Get your client ID/secret from https://builder.dfda.earth/app/public/#/app/configuration
DFDA_CLIENT_ID=
DFDA_CLIENT_SECRET=

